<mat-card *ngIf="book" class="book-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Titolo: {{book.title}}</mat-card-title>
      <mat-card-subtitle>Argomenti: {{book.subjects}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="card-img"  alt="book cover">
    <mat-card-content>
      Autore: {{book.authors[0].name}} ({{book.authors[0].birth_year}}-{{book.authors[0].death_year}})
      Lingua: {{book.languages}}
      ID: {{book.id}}
    </mat-card-content>
    <mat-card-actions>
      <button class="card-btn" mat-button routerLink="/home">Torna alla home</button>
    </mat-card-actions>
  </mat-card>
